/* this is a mess, sorry */

body {
    background-color: black;
    font-family: 'Libre Franklin', sans-serif;
    color: #0BF2FB;
    padding: 15px;
    max-width: 500px;
    margin: auto;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#canvas {
    z-index: -1000;
    position: fixed;
    top:0px;
    left:0px;
    opacity: 0.3;
}

.difficulty-button-bar {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    border-color: #FFCF09;
    border-style: solid;
    background-color: black;
    font-family: 'Libre Franklin', sans-serif;
    color: #0BF2FB;
}

button:active {
    background-color: #FFCF09;
    color: black;
}

button:hover {
    background-color: #FFCF09;
    color: black;
}

button:visited {
    background-color: black;
    color: #FFCF09;
}

.difficulty-button {
    height:50px;
    font-size: 16px;
    margin-right: 0px; /* fix for safari */
    padding-right: 5px;
    margin-left: 0px;
    padding-left: 5px;
    flex-grow:1;
    border-width: 2px;
}



.easy-button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

.medium-button {
    border-right: none;
}

.hard-button {
    border-right: none;
}

.legend-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#footer {
    margin-top: auto;
}

#quiz {
    display: none;
    flex-direction: column;
}

#results {
    display: none;
    flex-direction: column;
}

#play-button {
    height: 100px;
    width: 100px;
    font-size: 72px;
    border-radius: 15px;
    align-self: center;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
}

#progress {
    text-align: center;
}

.movie-btn {
    height:40px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 5px;
    border-radius: 5px;
}

#volume-div {
    width:100%;
    display: flex;
}

#volume-slider {
    flex-grow: 1;
}

#progress {
    margin-top: 0;
}

.results-btn {

    height:60px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#username-div {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

#results-name {
    background-color: black;
    color: #0BF2FB;
    border-style: solid;
    border-color: #FFCF09;
    font-family: 'Libre Franklin', sans-serif;
    height: 50px;
    font-size: 20px;
    margin-bottom: 0px;
    width:inherit
}

#submit-username-btn {
    margin-bottom: 0px;
    margin-left: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.results-hr {
    width: 65%;
    border-color: #FFCF09;
    margin-bottom: 30px;
    margin-top: 30px;
}

#results-check-span{
    font-size: 40px;
    align-self: center;
    display: none;
}

#time-div {
    font-family: 'Share Tech Mono', monospace;
    font-size: 24px;
}

.mini-play {
    font-size: 20px;
    border-radius: 5px;
    margin-right: 10px;

    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}


/* Leaderboard */
#leaderboard{
    display: none;
    flex-direction: column;
}

#easy-button-leaderboard {
    border-bottom-left-radius: 0px;
}

#legend-button-leaderboard {
    border-bottom-right-radius: 0px;
}

.second-row {
    border-top: none;
    border-radius: 0px;
    flex-grow: 1;
    width: 80%;
}

#wrapper {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: #FFCF09;
    box-sizing: border-box;
    border-top: none;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 20px;
}

#inner-bar{
    width: 80%;
}

/* Loading Spinner */

.spinner {
	animation: rotator 1.4s linear infinite;
    align-self: center;
    display: none;
}

@keyframes rotator {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(270deg);
	}
}

.path {
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
	transform-origin: center;
	animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
	0% {
		stroke: #FFCF09;
	}

	25% {
		stroke: #FFCF09;
	}

	50% {
		stroke: #0BF2FB;
	}

	75% {
		stroke: #0BF2FB;
	}

	100% {
		stroke: #FFCF09;
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}

	50% {
		stroke-dashoffset: 46.75;
		transform: rotate(135deg);
	}

	100% {
		stroke-dashoffset: 187;
		transform: rotate(450deg);
	}
}